p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #505050;
}



h1,
h2,
h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:hover {
  font-weight: bold;
}

a:visited {
  color: #343434;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #ffffff;
  text-align: left;
  padding: 1%;
  font-size: 15px;
}

.a-divider {
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-width: 1px 0;
}

.b-divider {
  height: 6rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-width: 1px 0;
}
.carosel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* .carousel-control-next-icon {
  width: 10px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
} */


.carousel-control-next-icon path {
  color: rgba(255, 0, 0, 0.1);
}


.carousel-control-prev-icon {
  Background-color: rgba(0,0,0,0.1);
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.grid-box {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}
